.popup__title {
  margin: 0;
  margin-bottom: 44px;
  max-width: 330px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  align-self: flex-start;
}

@media screen and (max-width: 550px) {
  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
