.card__button-like {
  background-image: url(../../../images/LikeWhite.svg);
  height: 19px;
  width: 22px;
  background-repeat: no-repeat;
  align-self: center;
  background-color: transparent;
  padding: 0;
  border: 0;
  transition: opacity ease-in .3s;
  cursor: pointer;
  box-sizing: content-box;
}

.card__button-like:hover {
  opacity: .5;
}
