.card__button-delete {
  display: block;
  background-image: url(../../../images/DeleteBin.svg);
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
  border: none;
  transition: opacity ease-in .2s;
  cursor: pointer;
}

.card__button-delete:hover {
  opacity: .5;
}
